#imagecorner
{
	width: 500px;
position: fixed;
bottom: 0px;
right: 0px;

}

.heading
{

padding: 20px;
	
font-family: 'Yellowtail', cursive;
	
font-weight: bold;
	
font-size: 80px;
	
letter-spacing: 4px;
	
color: #009688;
	
text-shadow: 1px 2px 0px black;
	
padding-bottom: 2px;
}

.inputimage
{
	width: 10%;
	position:absolute;
	top: 190px;
	left: 30px;
	
}
.hidden
{
	display: none;
}

span :hover
{
	width: 10.3%;
	
}


#a
{
	position: absolute;
	top:240px;
	left:190px;
	
}

#b
{
	position: absolute;
	top:240px;
	left:380px;
	

}

#c
{
	position: relative;
	
	top:210px;
	left:190px;

}

 
 #add
{
	position: absolute;
	bottom: 420px;
	left:20px;
	border:solid transparent 2px;
	
}

 #sub
{
	position: absolute;
	bottom: 420px;
	left:200px;
	border:solid transparent 2px;
	
}

 #mul
{
	position: absolute;
	bottom: 180px;
	left:30px;
	border:solid transparent 2px;
	
}

 #div
{
	position: absolute;
	bottom: 180px;
	left:210px;
	border:solid transparent 2px;
	
}